<div >
    <div *ngIf="!foto" class="container flex align-items-center justify-content-center" [ngClass]="classCss">
        <p-fileUpload mode="basic" chooseLabel="Adicionar imagem" styleClass="upload"
        name="demo[]"
        accept="image/*" styleClass="teste" (onSelect)="onUpload($event)">   
       </p-fileUpload>
    </div>


    <div *ngIf="foto" class="picture-container">
        <div class="picture flex flex-column align-items-center justify-content-center">
            <img [src]="foto.safeUrl" width="200px"/>
            <p-button  (click)="deletePicture()" label="Remover" [rounded]="true" [text]="true">
            </p-button>
        </div>

    </div>
</div>