<ng-container>

    <div class="botoes-orcamento gap-2">

        <app-botoes-exportacao 
            parentId="relatorio-final" 
            (inicioProcessamento)="inicioProcessamento($event)"
            (fimProcessamento)="fimProcessamento($event)"
            [nomeRelatorio]="'relatorio-orçamento-'+cliente.obra">
        </app-botoes-exportacao>

        <p-button  (click)="novoOrcamento()" icon="pi pi-plus" label="Novo orcamento" [text]="true" severity="secondary">

        </p-button>

    </div>

</ng-container>
<div id="relatorio-final">
    <div style="margin: 5px;">
        <span class="title">Orçamento de Obra - Analítico</span>
    </div>
    <div class="grid card">
        <div class="col-2">
            <img [src]="cliente.logoUrl" width="200px" (error)="errorUrlPhoto($event)"/>
        </div>
        <div class="col-10 grid">
            <div class="col-4">
                <span class="var">Cliente: </span><span class="title-value">{{cliente.nome}}</span>
            </div>
            <div class="col-4">
                <span class="var">Telefone: </span><span class="title-value">{{cliente.telefone}}</span>
            </div>
            <div class="col-4">
                <span class="var">Email: </span><span class="title-value">{{cliente.email}}</span>
            </div>
            <div class="col-4">
                <span class="var">Obra: </span><span class="title-value">{{cliente.obra}}</span>
            </div>
            <div class="col-4">
                <span class="var">Área do Terreno: </span><span class="title-value">{{cliente.areaTerreno}}</span>
            </div>
            <div class="col-4">
                <span class="var">Data Previsão: </span><span class="title-value">{{getData(cliente.previsaoInicio)}}</span>
            </div>
            <div class="col-4">
                <span class="var">Endereço: </span><span class="title-value">{{cliente.enderecoCliente}} - {{cliente.cidade}}, {{cliente.estado}}</span>
            </div>
            <div class="col-4">
                <span class="var">BDI: </span><span class="title-value">{{cliente.bdi}}</span>
            </div>        
            <div class="col-4">
                <span class="var">Encargos Sociais: </span><span class="title-value">{{cliente.encargosSociais}}</span>
            </div>
        </div>
    
    </div>
    
    <div>
        <p-table [value]="orcamentos"  dataKey="etapa" editMode="row"
         rowGroupMode="subheader" groupRowsBy="etapa"  [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
    
                <tr >
                    <th colspan="5"></th>
                    <th colspan="2"><span class="flex justify-content-center">Valor unitário</span></th>
                    <th colspan="2"></th>
    
                </tr>
                <tr>
                    <th>Base</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Qtd</th>
                    <th>Material</th>
                    <th>MO</th>
                    <th>Total</th>
                    <th *ngIf="this.gerandoPdf == false">Ações</th>
    
    
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-orcamento>
                <tr pRowGroupHeader class="linha-etapa">
                    <td colspan="1">{{orcamento.etapa}}</td>
                    <td colspan="9"><span class="flex justify-content-center">{{getEtapa(orcamento.etapa)}}</span></td>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orcamento let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="orcamento">
                    <td>{{orcamento.dados.tipo}}</td>
                    <td>{{orcamento.dados.id}}</td>
                    <td>{{orcamento.dados.descricao}}</td>
                    <td>{{orcamento.dados.unidade}}</td>
                    <td>{{orcamento.dados.quantidade.toFixed(0)}}</td>
                    <td>{{orcamento.dados.valorUnidade.material.toFixed(2)}}</td>
                    <td>{{orcamento.dados.valorUnidade.maoDeObra.toFixed(2)}}</td>
                    <td>{{getValorTotal(orcamento.dados)}}</td>
                    <td *ngIf="this.gerandoPdf == false">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="novoOrcamento(orcamento)" class="p-button-rounded p-button-text"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" (click)="confirmarExclusao(orcamento)" class="p-button-rounded p-button-text"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>