<div>
    <div style="display: flex;justify-content: end;margin-bottom: 20px;">
        <p-button label="novo fornecedor" icon="pi pi-plus" [text]="true" severity="secondary" (click)="abrirCadastroFornecedores()"></p-button>
    </div>
    <p-table [value]="fornecedores"   [tableStyle]="{ 'min-width': '50rem' }">
       <ng-template pTemplate="header">
           <tr>
               <th>Código</th>
               <th>Produto</th>
               <th>Preço</th>
               <th>Unidade</th>
               <th>Empresa</th>
               <!-- <th>CNPJ</th> -->
               <!-- <th>Telefone</th> -->
               <th>e-mail</th>
               <!-- <th>Rua</th>
               <th>Cidade</th>
               <th>CEP</th> -->
               <th>Prazo de entrega</th>
               <!-- <th>Compra mínima</th>
               <th>Garantia oferecida</th> -->
               <th>Estimativa de mão de obra</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-fornecedor let-index="rowIndex">
           <tr >
               <td>{{fornecedor.id}}</td>
               <td>{{fornecedor.descricao}}</td>
               <td>{{fornecedor.valorUnitario.material}}</td>
               <td>{{fornecedor.unidade}}</td>
               <td>{{fornecedor.fornecedor.empresa}}</td>
               <!-- <td>{{fornecedor.fornecedor.cnpj}}</td>
               <td>{{fornecedor.contato.telefone}}</td> -->
               <td>{{fornecedor.contato.email}}</td>
               <!-- <td>{{fornecedor.endereco.rua}}</td>
               <td>{{fornecedor.endereco.cidade}}</td>
               <td>{{fornecedor.endereco.cep}}</td> -->
               <td>{{fornecedor.pagamento.prazoEntrega}}</td>
               <!-- <td>{{fornecedor.pagamento.compraMinima}}</td>
               <td>{{fornecedor.pagamento.garantiaOferecida}}</td> -->
               <td>{{fornecedor.valorUnitario.maoDeObra}}</td>

           </tr>
       </ng-template>
   </p-table>
</div>