<div class="toolbar">
  <div class="logo-container" (click)="navegarHome()">
      <img src="../assets/fotos/logo.jpg" alt="Logo"> 
      <span class="nome-empresa">Husky Technologies</span>
  </div>
  <!-- <div class="texto"> Seja bem-vindo</div> -->
  <div class="btn-detalhes cursor-pointer menu-user">
  </div>
</div>
<div style="display: flex;">
  <div class=" card-menu flex justify-content-center">
      <!-- <app-side-menu></app-side-menu> -->
      <div class="menu-wrapper">
        <p-panelMenu
          class="side-menu"
          [model]="items"
          [style]="{ width: '300px' }"
        >
          <ng-template pTemplate="item" let-item>
            <div
              [class]="'p-panelmenu-header ' + item?.styleClass"
              [ngClass]="{ 'p-panelmenu-header': true, active: item.active }"
            >
              <span
                class="menu-icon"
                [ngStyle]="{ 'background-color': item.iconColor }"
              >
                <i [class]="item.icon"></i>
              </span>
              <a [routerLink]="item.routerLink" cl>{{ item.label }}</a>
            </div>
          </ng-template>
        </p-panelMenu>
      </div>
      
  </div>
  <div style="width: 100%;" class="body-app">
      <app-spinner></app-spinner>
      <p-toast></p-toast>
      <router-outlet></router-outlet>
  </div>
</div>
