<div>
    <div style="display: flex;justify-content: end;margin-bottom: 20px;">
        <p-button label="nova etapa" icon="pi pi-plus" [text]="true" severity="secondary" (click)="abrirCadastroEtapas()"></p-button>
    </div>
    <p-table [value]="etapasList" [loading]="this.loading"  [tableStyle]="{ 'min-width': '50rem' }">
       <ng-template pTemplate="header">
           <tr>
               <th>Etapas</th>
               <th>M.O</th>
               <th>Material</th>
               <th>L.S</th>
               <th>BDI</th>
               <th>Total</th>
               <th>% do Total</th>

           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-etapa let-index="rowIndex">
           <tr >
               <td>{{etapa.nome}}</td>
               <td>R$ {{getTotalEtapas('MO',etapa.id) | number}}</td>
               <td>R$ {{getTotalEtapas('material',etapa.id) | number}}</td>
               <td>R$ {{getTotalEtapas('LS',etapa.id) | number}}</td>
               <td>R$ {{getTotalEtapas('BDI',etapa.id) | number}}</td>
               <td>R$ {{getTotalEtapas('total',etapa.id) | number}}</td>
               <td>{{getTotalEtapas('porcentagem',etapa.id)}}</td>

           </tr>
       </ng-template>
       <ng-template pTemplate="footer">
        <tr>
            <td>Total</td>
            <td>R$ {{this.MOTotal.toFixed(2) | number}}</td>
            <td>R$ {{this.materialTotal.toFixed(2) | number}}</td>
            <td>R$ {{this.LSTotal.toFixed(2) | number}}</td>
            <td>R$ {{this.BDITotal.toFixed(2) | number}}</td>
            <td>R$ {{this.totalAll.toFixed(2) | number}}</td>
            <td>{{this.porcentagemTotal}}%</td>

        </tr>
        <tr>
            <td class="text-right">Mão de Obra</td>
            <td>{{this.porcentagemMO.toFixed(2)}}%</td>
        </tr>
        <tr>
            <td class="text-right">Material</td>
            <td>{{this.porcentagemMaterial.toFixed(2)}}%</td>
        </tr>
    </ng-template>
   </p-table>
</div>